<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>Søknad om omsorgspenger</title>
    {{#block 'style' }}
    {{/block}}
</head>
<body>
<div id="header">
    <img class="navlogo" src="{{ image "Navlogo.png" }}"/>
    <h1 class="title">Søknad om omsorgspenger</h1>
</div>
<div class="container">
    <div id="container_top">
        <div class="nokkeldata">
            <br/><br/>
            <p>
                <span class="nokkeldata__overskrift">Sendt til NAV</span><br/>
                {{soknad_mottatt_dag}} {{ soknad_mottatt }}
            </p>
        </div>
        <div class="personinfo">
            <div class="persontekst">
                <div class="persontekst__sidetopp">
                    <img class="ikon" src="{{ image "Personikon.png" }}"/>
                    <div class="persontekst__personalia">
                        <p>
                            Søker
                        </p>
                        <p class="navn">
                            {{ søker.navn }}
                        </p>
                        <p class="id">
                            {{ søker.fødselsnummer }}<br/>
                        </p>
                    </div>
                    <br/>
                    <img class="ikon" src="{{ image "Personikon.png" }}"/>
                    <div class="persontekst__personalia">
                        <p>Barn</p>
                        <p class="navn">
                            {{# if barn.navn }}
                                {{ barn.navn }}
                            {{else}}
                                <span class="ikke_satt">Navn ikke angitt</span>
                            {{/if}}
                        </p>
                        <p class="id">
                            {{# if barn.id }}
                                {{ barn.id }}
                            {{else}}
                                <span class="ikke_satt">ID ikke angitt</span>
                            {{/if}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- SAMTYKKE -->
    <br/>
    <br/>
    <h2><span>Kronisk eller funksjonshemming</span></h2>

    <p class="sporsmalstekst">Har barnet kronisk sykdom eller funksjonshemming</p>
    {{# if kroniskEllerFunksjonshemming }}
        <img class="checkbox" src="{{ image "Checkbox_on.png" }}"/> Ja
        <img class="checkbox" src="{{ image "Checkbox_off.png" }}"/> Nei
    {{else}}
        <img class="checkbox" src="{{ image "Checkbox_off.png" }}"/> Ja
        <img class="checkbox" src="{{ image "Checkbox_on.png" }}"/> Nei
    {{/if}}

    <h2><span>Arbeidssituasjon</span></h2>
    {{#if arbeidssituasjon}}
        {{#each arbeidssituasjon as |situasjon|~}}
          <ul>
              <li>{{situasjon}}</li>
          </ul>
        {{/each}}
    {{/if}}

    <h2><span>Bor på samme addresse</span></h2>
    <p class="sporsmalstekst">Bor på samme addresse som barnet</p>
    {{# if sammeAddresse }}
        <img class="checkbox" src="{{ image "Checkbox_on.png" }}"/> Ja
        <img class="checkbox" src="{{ image "Checkbox_off.png" }}"/> Nei
    {{else}}
        <img class="checkbox" src="{{ image "Checkbox_off.png" }}"/> Ja
        <img class="checkbox" src="{{ image "Checkbox_on.png" }}"/> Nei
    {{/if}}

    <!-- MEDLEMSKAP -->
    <h2><span>Medlemskap</span></h2>

    <p class="sporsmalstekst">Har bodd i utlandet siste 12 månedene?</p>
    {{# if medlemskap.har_bodd_i_utlandet_siste_12_mnd }}
        <img class="checkbox" src="{{ image "Checkbox_on.png" }}"/> Ja
        <img class="checkbox" src="{{ image "Checkbox_off.png" }}"/> Nei
        <ul>
            {{# each medlemskap.utenlandsopphold_siste_12_mnd as |opphold|~}}
                <li>
                    {{opphold.landnavn}} ({{opphold.fraOgMed}} - {{opphold.tilOgMed}})
                </li>
            {{/each}}
        </ul>
    {{else}}
        <img class="checkbox" src="{{ image "Checkbox_off.png" }}"/> Ja
        <img class="checkbox" src="{{ image "Checkbox_on.png" }}"/> Nei
    {{/if}}
    <hr/>
    <p class="sporsmalstekst">Skal bo i utlandet de neste 12 månedene?</p>
    {{# if medlemskap.skal_bo_i_utlandet_neste_12_mnd }}
        <img class="checkbox" src="{{ image "Checkbox_on.png" }}"/> Ja
        <img class="checkbox" src="{{ image "Checkbox_off.png" }}"/> Nei
        <ul>
            {{# each medlemskap.utenlandsopphold_neste_12_mnd as |opphold|~}}
                <li>
                    {{opphold.landnavn}} ({{opphold.fraOgMed}} - {{opphold.tilOgMed}})
                </li>
            {{/each}}
        </ul>
    {{else}}
        <img class="checkbox" src="{{ image "Checkbox_off.png" }}"/> Ja
        <img class="checkbox" src="{{ image "Checkbox_on.png" }}"/> Nei
    {{/if}}

    <!-- SAMTYKKE -->
    <br/>
    <br/>
    <h2><span>Samtykke</span></h2>

    <p class="sporsmalstekst">Har forstått rettigheter og plikter?</p>
    {{# if samtykke.har_forstatt_rettigheter_og_plikter }}
        <img class="checkbox" src="{{ image "Checkbox_on.png" }}"/> Ja
        <img class="checkbox" src="{{ image "Checkbox_off.png" }}"/> Nei
    {{else}}
        <img class="checkbox" src="{{ image "Checkbox_off.png" }}"/> Ja
        <img class="checkbox" src="{{ image "Checkbox_on.png" }}"/> Nei
    {{/if}}
    <hr/>
    <p class="sporsmalstekst">Har bekreftet opplysninger?</p>
    {{# if samtykke.har_bekreftet_opplysninger }}
        <img class="checkbox" src="{{ image "Checkbox_on.png" }}"/> Ja
        <img class="checkbox" src="{{ image "Checkbox_off.png" }}"/> Nei
    {{else}}
        <img class="checkbox" src="{{ image "Checkbox_off.png" }}"/> Ja
        <img class="checkbox" src="{{ image "Checkbox_on.png" }}"/> Nei
    {{/if}}
</div>

<!-- FOOTER -->
<div id="footer">
    <span class="soknadsid">{{ soknad_id }}</span>
    <span class="sidetall">side <span id="pagenumber"></span> av <span id="pagecount"></span></span>
</div>
</body>
</html>
