<!DOCTYPE html>
<html lang="NO">

<head>
    <meta charset="UTF-8" />
    <title>Søknad om ekstra omsorgsdager</title>
    <meta name="subject" content="Søknad om ekstra omsorgsdager" />
    <meta name="author" content="nav.no" />
    <meta name="description"
        content="Søknad om ekstra omsorgsdager mottatt {{soknad_mottatt_dag}} {{ soknad_mottatt }}" />
    <bookmarks>
        <bookmark name="Søker" href="#søker" />
        <bookmark name="Barn" href="#barn" />
        <bookmark name="Kronisk eller funksjonshemming" href="#funksjonshemming" />
        <bookmark name="Arbeidssituasjon" href="#arbeidssituasjon" />
        <bookmark name="Samme adresse" href="#adresse" />
        <bookmark name="Medlemskap" href="#medlemskap" />
        {{#if harIkkeLastetOppLegeerklæring}}
        <bookmark name="Legeerklæring" href="#legeerklæring" />
        {{/if}}
        <bookmark name="Samtykke" href="#samtykke" />
    </bookmarks>
    {{#block 'style-common' }}
    {{/block}}
</head>

<body>
    <h1 id="header">
        Søknad om ekstra omsorgsdager
    </h1>
    <p class="nokkelinfo">
        <strong>Sendt til NAV</strong>
        {{soknad_mottatt_dag}} {{ soknad_mottatt }}
    </p>

    <div class="innholdscontainer">
        <div class="person" id="søker">
            <p class="navn">{{ søker.navn }}</p>
            <p>{{ søker.fødselsnummer }}<br /></p>
        </div>

        <div class="person" id="barn">
            <p>Barn</p>
            <p class="navn">
                {{# if barn.navn }}
                    {{ barn.navn }}
                {{else}}
                    <span class="ikke_satt">Navn ikke angitt</span>
                {{/if}}
            </p>
            <p>
                {{# if barn.fødselsdato }} <!--OBS: FJERNES NÅR FRONTEND ER PRODSATT-->
                    {{ barn.fødselsdato }} <br />
                {{/if}}
                {{# if barn.id }}
                    {{ barn.id }}
                {{else}}
                    <span class="ikke_satt">ID ikke angitt</span>
                {{/if}}
            </p>
        </div>

        <section id="funksjonshemming">
            <h2>Kronisk sykdom eller funksjonshemming</h2>
            <p class="sporsmalstekst">Har barnet en kronisk sykdom eller funksjonshemming?</p>
            <p>{{ jaNeiSvar kroniskEllerFunksjonshemming }}</p>
        </section>

        <!--OBS: FJERNES NÅR FRONTEND ER PRODSATT-->
        <section id="arbeidssituasjon">
            {{#if hjelp.arbeidssituasjonSatt}}
                <h2>Din arbeidssituasjon</h2>
                <p>Du opplyser at du er</p>
                {{#if arbeidssituasjon}}
                    {{#each arbeidssituasjon as |situasjon|~}}
                        <ul>
                            <li>{{situasjon.utskriftsvennlig}}</li>
                        </ul>
                    {{/each}}
                {{/if}}
            {{/if}}
        </section>

        <section id="adresse">
            <h2>Barnets bosted</h2>
            <p class="sporsmalstekst">Bor du og barnet på samme folkeregistrerte adresse?</p>
            <p>{{ jaNeiSvar sammeAddresse }}</p>
        </section>

        <!-- MEDLEMSKAP OBS: FJERNES NÅR FRONTEND ER PRODSATT-->
        <section id="medlemskap">
            {{#if hjelp.medlemskapSatt}}
                <h2>Medlemskap i folketrygden</h2>
                <p class="sporsmalstekst">Har du bodd i utlandet siste 12 månedene?</p>
                {{# if medlemskap.har_bodd_i_utlandet_siste_12_mnd }}
                    <p>Ja</p>
                    {{# if medlemskap.utenlandsopphold_siste_12_mnd}}
                        <ul>
                            {{# each medlemskap.utenlandsopphold_siste_12_mnd as |opphold|~}}
                                <li>{{opphold.landnavn}} ({{opphold.fraOgMed}} - {{opphold.tilOgMed}})</li>
                            {{/each}}
                        </ul>
                    {{/if}}
                {{else}}
                    <p>Nei</p>{{/if}}
                <hr />
                <p class="sporsmalstekst">Skal du bo i utlandet de neste 12 månedene?</p>
                {{# if medlemskap.skal_bo_i_utlandet_neste_12_mnd }}
                    <p>Ja</p>
                    <ul>
                        {{# each medlemskap.utenlandsopphold_neste_12_mnd as |opphold|~}}
                            <li>{{opphold.landnavn}} ({{opphold.fraOgMed}} - {{opphold.tilOgMed}})</li>
                        {{/each}}
                    </ul>
                {{else}}
                    <p>Nei</p>{{/if}}
            {{/if}}
        </section>

        <!-- Info om har ikke lastet opp vedlegg -->
        <section id="legeerklæring">
        {{#if harIkkeLastetOppLegeerklæring}}
            <h2>Legeerklæring</h2>
            <p>Ingen vedlegg er lastet opp.</p>
        {{/if}}
        </section>

        <!-- SAMTYKKE -->
        <section id="samtykke">
            <h2>Samtykke fra deg</h2>
            <p class="sporsmalstekst">Har du forstått rettigheter og plikter?</p>
            <p>{{ jaNeiSvar samtykke.harForståttRettigheterOgPlikter }}</p>
            <hr />
            <p class="sporsmalstekst">Har du bekreftet at opplysninger som er gitt er riktige?</p>
            <p>{{ jaNeiSvar samtykke.harBekreftetOpplysninger }}</p>
        </section>
    </div>

    <!-- FOOTER -->
    <p id="footer">
        <span class="soknadsid">{{ soknad_id }}</span>
        <span class="sidetall">side <span id="pagenumber"></span> av <span id="pagecount"></span></span>
    </p>
</body>

</html>